# Project-related
data/
figures/
models/
results/
imagenette2-320.tgz
imagenette2-320/
experiments/
tabular_datasets/

# Pycharm
__pycache__/
.idea/

# venv
venv/
.venv/
.env/

# Luis config file
.env

# VSCode
.vscode/
