# Project-related
figures/robustness/
figures/explanations/
models/
results/
imagenette2-320.tgz
imagenette2-320/
experiments/
tabular_datasets/

# Pycharm
__pycache__/
.idea/

# venv
venv/
.venv/
.env/

# Luis config file
.env

# VSCode
.vscode/

# Bash scripts


# Python files
setup.py
xai_rai_units/scripts/accuracy_on_imagenette.py
xai_rai_units/scripts/test_alexnet.py
# xai_rai_units/scripts/test_measure_proba.py
# xai_rai_units/scripts/test_perturbations.py
# xai_rai_units/src/alexnet.py
xai_rai_units/scripts/main_old.py

# Git files
.gitattributes