# Ignore Python cache files
__pycache__/

# venv
venv/
.venv/
.env/

# VSCode
.vscode/

# Imagenette dataset
imagenette2-320.tgz
imagenette2-320/

# Experiments
experiments/

# Tabular datasets
tabular_datasets/

.idea/

# Where models are saved
models/
